- if user_signed_in? && like_id(resource_post)
  = link_to post_like_path(resource_post, like_id(resource_post)), method: :delete, rel: 'nofollow', class: 'link-dark text-decoration-none' do
    i.bi.bi-heart-fill
      = resource_post.likes.count
- else
  = link_to post_likes_path(resource_post), method: :post, rel: 'nofollow', class: 'link-dark text-decoration-none' do
    i.bi.bi-heart
      = resource_post.likes.count
